.country__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 75px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.country__item {
  max-width: 264px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.country__title {
  margin-top: 24px;
  margin-left: 24px;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}

.country__sublist {
  margin-top: 24px;
  margin-left: 24px;
  padding: 0;
  list-style-type: none;
}

.country__subitem {
  font-size: 14px;
  line-height: 16px;
  color: #111517;
}

.country__subitem span {
  font-weight: 600;
}

.country__subitem+.country__subitem {
  margin-top: 8px;
}