.searchbar {
  margin: 50px 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  display: flex;
  padding: 18px 0 18px 32px;
  max-width: 480px;
  width: 100%;
  color: #848484;
  background-color: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.form__search-input {
  margin-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: none;
}

.form__select {
  padding: 18px 24px;
  max-width: 200px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: none;
  color: #111517;
  background-color: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
